flask==3.0.2
Pillow==10.2.0
pytesseract==0.3.10
pdf2image==1.17.0
python-dotenv==1.0.1
PyPDF2==3.0.1
groq==0.4.2
langchain==0.1.11
langchain-community==0.0.27
langchain-groq==0.0.1
chroma-hnswlib==0.7.3
chromadb==0.4.24
transformers==4.38.2
torch==2.2.1
sentence-transformers==2.5.1
pandas==2.2.1
numpy==1.26.4
openpyxl==3.1.2
onnxruntime==1.17.0